@using Microsoft.AspNetCore.SignalR.Client
@using DrugTimer.Shared
@using System.Globalization

<div class="card text-center" style="display: inline-grid">
    <div class="card-header">
        <h4>Add Entry</h4>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <label for="time" style="width: 60px">Time</label>
            <input type="datetime" id="time" @bind="@_entryTime" style="width: 180px" />
            <br />
            <label for="count" style="width: 60px">Count</label>
            <input type="number" step="@Settings.IncrementStep" min="0" id="count" @bind="@_entryCount" style="width: 180px" />
            <br />
            <button class="btn btn-primary" @onclick="@CreateEntry">Add entry</button>
        </li>
    </ul>
    <div class="card-header">
        <h4>Add Prescription</h4>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <label for="count" style="width: 130px">Prescription count</label>
            <input type="number" step="@Settings.IncrementStep" min="0" id="count" @bind="@_prescriptionCount" style="width: 180px" />
            <br />
            <button class="btn btn-primary" @onclick="@CreatePrescription">Add prescription</button>
        </li>
    </ul>
</div>

@code {
    [Parameter] public HubConnection Connection { get; set; }
    [Parameter] public DrugInfo DrugInfo { get; set; }
    [Parameter] public Action<bool> TimerTick { get; set; }
    [Parameter] public Settings Settings { get; set; }

    private string _entryTime;
    private string _entryCount = "1";
    private string _prescriptionCount;

    protected override void OnInitialized()
    {
        _prescriptionCount = Settings.PrescriptionSize.ToString();
    }

    /// <summary>
    /// Adds an entry to the database
    /// </summary>
    private async void CreateEntry()
    {
        //checks if date string is not valid datetime
        if (!DateTime.TryParse(_entryTime, CultureInfo.GetCultureInfo("en-GB"), DateTimeStyles.None, out _) && !String.IsNullOrWhiteSpace(_entryTime)) return;

        //checks if count string is null, whitespace or not valid int
        if (string.IsNullOrWhiteSpace(_entryCount)) return;
        if (!decimal.TryParse(_entryCount, out _)) return;

        DrugEntry entry = new DrugEntry()
        {
            Guid = DrugInfo.Guid,
            Count = Convert.ToDecimal(_entryCount)
        };

        //if _entryTime is empty, use time now, otherwise use time passed
        if (String.IsNullOrWhiteSpace(_entryTime))
            entry.Time = DateTime.Now;
        else
            entry.Time = DateTime.Parse(_entryTime, CultureInfo.GetCultureInfo("en-GB")).ToUniversalTime();

        await Connection.SendAsync("AddDrugEntry", entry);

        await Task.Delay(500);
        TimerTick(false);
    }

    private async void CreatePrescription()
    {
        //checks if count string is null, whitespace or not valid int
        if (string.IsNullOrWhiteSpace(_prescriptionCount)) return;
        if (!int.TryParse(_prescriptionCount, out _)) return;

        DrugInfo.NumberLeft += int.Parse(_prescriptionCount);

        await Connection.SendAsync("UpdateDrugInfo", DrugInfo);

        await Task.Delay(500);
        TimerTick(false);
    }
}
