@using System.Globalization
@using DrugTimer.Client.Data
@using DrugTimer.Shared
@using Microsoft.AspNetCore.SignalR.Client

@inject Blazored.LocalStorage.ILocalStorageService LocalStorage

<EditForm Model="Settings" OnValidSubmit="WriteSettings" style="margin-top: 20px">
    <DataAnnotationsValidator />
    <div class="form-group" style="margin-left: 0px;">
        <label for="refreshRate">Refresh Rate</label>
        <InputNumber id="refreshRate" class="form-control" @bind-Value="@Settings.RefreshRate" />
        <ValidationMessage For="@(() => Settings.RefreshRate)" />
        <small class="form-text text-muted">
            How often to redraw the progress bar, in seconds.
        </small>
    </div>
    <div class="form-group" style="margin-left: 0px;">
        <label for="refreshRate">Entries to load</label>
        <InputNumber id="numToLoad" class="form-control" @bind-Value="@Settings.NumToLoad" />
        <ValidationMessage For="@(() => Settings.NumToLoad)" />
        <small class="form-text text-muted">
            How many entries to load for each drug on load.
        </small>
    </div>
    <div class="form-group" style="margin-left: 0px;">
        <label for="dateFormat">Date Format</label>
        <InputDateFormat class="form-control" id="dateFormat" @bind-Value="@Settings.DateFormat" />
        <ValidationMessage For="@(() => Settings.DateFormat)" />
        <small class="form-text text-muted">
            Date formatting to use within application.
        </small>
    </div>
    <div class="form-group" style="margin-left: 0px;">
        <label for="incrementStep">Dosage increment step</label>
        <InputNumber class="form-control" id="incrementStep" @bind-Value="@Settings.IncrementStep" />
        <ValidationMessage For="@(() => Settings.IncrementStep)" />
        <small class="form-text text-muted">
            How much to increase/decrease dosages with arrow key step.
        </small>
    </div>
    <div class="form-group" style="margin-left: 0px;">
        <label for="prescriptionSize">Default prescription size</label>
        <InputNumber class="form-control" id="prescriptionSize" @bind-Value="@Settings.PrescriptionSize" />
        <ValidationMessage For="@(() => Settings.PrescriptionSize)" />
        <small class="form-text text-muted">
            Default prescription size to use for adding prescriptions.
        </small>
    </div>
    <button class="btn btn-primary" type="submit">Save data</button>
</EditForm>

@code {
    [Parameter] public Settings Settings { get; set; }
    [Parameter] public List<DrugInfo> DrugInfos { get; set; }
    [Parameter] public HubConnection Connection { get; set; }

    /// <summary>
    /// Writes the users settings to local storage
    /// </summary>
    private async void WriteSettings() => await LocalStorage.SetItemAsync("settings", Settings);
}